/* frontend/src/components/JobSeeker/JobSeekerCommunity.css */
.community-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .community-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .groups-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .group-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .group-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .group-card h2 {
    font-size: 1.5rem;
    color: #007BFF;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .group-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .join-button {
    background-color: #9a9d9e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
  }
  
  .join-button:hover {
    background-color: #218838;
  }
  
  .chat-button {
    background-color: #3d3d3d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
  }
  
  .chat-button:hover {
    background-color: #218838;
  }
  .leave-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
  }
  
  .leave-button:hover {
    background-color: #c82333;
  }
  
  .discussion-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .posts-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .add-post textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .add-post button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
  }
  
  .add-post button:hover {
    background-color: #0056b3;
  }